* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	/*	background-color: #fbeada;*/
	padding: 0;
	margin: 0;
}

.homeSection {
	height: 100vh;	
	background-color: #fff;		

}

.homeContainer {	
	height: 100vh; 
	width: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/bgimgnew.png);	

}

.homeContainerMobile {
	display: none;
}

@font-face {
	src: url('../fonts/kleymissky/Kleymissky_0283.ttf') format('truetype');	
	font-family: 'candy-inc';
}

@font-face {
	src: url('../fonts/yummycupcakes/yummycupcakes.ttf') format('truetype');	
	font-family: 'mainheadings';
}

@font-face {
	src: url('../fonts/noto-sans/NotoSans-Regular.ttf') format('truetype');	
	font-family: 'paragraph';
}

@font-face {
	src: url('../fonts/mandatory/mandator.ttf') format('truetype');	
	font-family: 'maincatergory';
}

@font-face {
	src: url('../fonts/firlefanz-demo/firlefanz-demo.ttf') format('truetype');	
	font-family: 'homemainback';
}

.navSection {
	background-color: #353a56;
	/*	background-color: #fbeada;*/
	z-index: 100;
	position: relative;

}

nav ul {	
	width: 100%;
	background-color: #353a56;
	/*    background-color: #fbeada;*/
	overflow: hidden;    
	padding: 0;
	color: #edd79a;
	text-align: center;
	margin: 0;
	transition: all 1s ease-in-out;
	position: fixed;	

}

nav ul li {
	display: inline-block;

}

nav ul li a {
	text-decoration: none;
	color: inherit;

}

.navIconContainer {	
	width: 100%;
	background-color: #353a56;
	text-align: right;
	box-shadow: border-box;
	padding: 5px 0px;
	cursor: pointer;    
	display: none;

}

.navIconContainer .material-icons {
	font-size: 40px;
	color: #edd79a;
	margin-right: 15px;

}


@media screen and (max-width: 1000px) {

	nav ul {
		max-height: 0px;
		position: fixed;
		top: 3.3em;	
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		z-index: 100;

	}

	nav ul li {		
		width: 100%;       
		text-align: center;		

	}

	.navIconContainer {	
		display: block;
		position: fixed;
		top: 0;
	}

	.showing {
		max-height: 20em;
		position: fixed;
		top: 3.3em;
		z-index: 100;
	}

}

.showing {
	max-height: 20em;
	position: fixed;
	top: 3.3em;
	z-index: 100;
}

nav ul li {	  
	min-width: 190px;
	height: 40px;
	position: relative;
	background-color: #2f344a;
	text-align: center;
	color: #edd79a;
	font-family: 'candy-inc';	  
	font-size: 18px;
	margin-right: 20px;
	padding-top: 15px;
	margin: 10px;	
	border-radius: 4px;	
	transition: all 1s ease-in-out;
	background-image: url(../images/navbg.png);

}

nav ul li:hover:before {
	border-left: 20px solid #2f344a;
	transition: all 1s ease-in-out;
}

nav ul li:hover:after {
	border-left: 20px solid #2f344a;
	transition: all 1s ease-in-out;
}

nav ul li:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #353a56;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	transition: all 1s ease-in-out;

}	

nav ul li:before {
	content: "";
	position: absolute;
	right: 0px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #353a56;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	transform: rotate(180deg);
	transition: all 1s ease-in-out;
}

#logo {
	background: #fdf6db;
	width: 70px;
	height: 70px;
	position: absolute;
	text-align: center;
	transform: rotate(20deg);
	top: 20px;
	border-radius: 20px;
	left: 20px;
	z-index: 101;
	position: fixed;
	background-image: url(../images/logobg.png);
	cursor: pointer;

}

#logo:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	width: 70px;
	background: #fdf6db;
	transform: rotate(135deg);
	border-radius: 20px;
	z-index: 10;
	background-image: url(../images/logobg.png);
	cursor: pointer;

}

.logoInnerCircle {
	height: 71px;
	width: 71px;
	border-radius: 50%;	
	border: 1px solid #f1a00a; 
	z-index: 101;
	position: absolute;
	text-align: center;
	left: 19px;
	top: 19px;
	padding-top: 8px;
	padding-right: 6px;
	font-size: 18px;
	font-weight: bolder;
	font-family: 'candy-inc';
	transform: rotate(-20deg);
	color: #f1a00a;
	position: fixed;
	transition: all 0.5s ease-in-out;
	background-image: url(../images/logobg.png);
	cursor: pointer;
}

.logoInnerCircle:hover {
	transform: rotate(0deg);
	transition: all 0.5s ease-in-out;
}

.imageContainer {
	width: 70%;	
	height: 420px;	
	position: absolute;
	top: 38%;
	left: 15%;
	right: 15%;
	/*	font-family: 'maincatergory', sans-serif;*/
	font-family: 'homemainback';
	color: #fff;
	text-align: center;
	font-size: 78px;
	padding-top: 20px;
	z-index: 10;
	text-transform: uppercase;
	font-weight: bolder;

}

.imageContainer div {
	font-size: 30px;
	font-family: 'candy-inc', sans-serif;
	/*	color: #fed1d1;*/
	color: #edd79a;
}

.arrowDown {
	width: 100px;
	height:60px; 
	-o-transform: perspective(300px) rotateY(-30deg);
	-moz-transform: perspective(300px) rotateY(-30deg);
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	transform: perspective(300px) rotateY(-30deg);	
	position: absolute;
	top: 90%;
	right: 10px;
	text-align: center;
	font-size: 48px;
	color: #edd79a;	
	z-index: 1000;
	font-weight: lighter;
	background: #353a56;
	border-radius: 1px;
	position: fixed;
	transition: all 0.5s ease-in-out;

} 

.arrowDown:hover {
	transform-origin: 50% 50%;
	transform: perspective(300px) rotateY(0deg);	
	transition: all 0.5s ease-in-out;
}

/*--------------------------------------------About us section starts here----------------------------------------------*/

.aboutusSection {
	min-height: 100vh;
	position: relative;	
	width: 100%;
	/*	background-image: url(../images/pinkbg1.png);*/
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 200px;
	padding-bottom: 100px;

}

.imgPinkBg {
	/*	box-shadow: 0 0 1px 1px #fbeada;	*/
	min-height: 100vh;
	width: 100%;	

}

.mySlides {

	position: relative;
	height: 360px;
	width: 38vw;
	animation-name: bgimageopacity;
	animation-duration: 2s;	
}

@keyframes bgimageopacity {
	from {opacity: 0.1; filter: alpha(opacity=50);}
	to {opacity: 1.0; filter: alpha(opacity=100);}

}

.w3-display-container {

	width: 40vw;
	height: 380px;
	padding: 13px;
	background-color: #edd79a;	
	border: 10px solid #fbeada;
	/*	border: 10px solid #fff;*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/*
	background-image: url(../images/photoframe.png);
	background-size: cover;
	background-position: center;	
	*/

}

.leftArrBtn {
	position: absolute;
	left: 10px;	
	top: 300px;	
	cursor: pointer;
}

.rightArrBtn {
	position: absolute;
	right: 10px;	
	top: 300px;
	cursor: pointer;
}

.leftArrBtn img, .rightArrBtn img {
	width: 70px;
	height: 50px;
	transition: 0.5s ease-in-out;
}

.leftArrBtn img:hover, .rightArrBtn img:hover {
	width: 80px;
	transition: 0.5s ease-in-out;
}

.aboutMainContainer {	
	/*
	position: absolute;
	top: 25vh;
	*/
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/*	border: 1px solid red;*/
	/*	background-color: #fbeada;*/
	/*	background-color: #edd79a;*/
	background-image: url(../images/new.png);
	background-size: 100%;
	background-position: center;
	padding-top: 70px;
	padding-bottom: 70px;

}

.cakeImageContainer {

	/*	width: 100%;*/
	/*	margin-top: 40px;*/
	width: 50%;
	display: flex;
	justify-content: center;
	background-image: url(../images/birthday-ribbon.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	/*	border: 1px solid red;*/
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;

}

.whoWeDescription {
	width: 50%;
	height: 380px;
	text-align: justify;
	text-justify: inter-word;
	font-family: 'mainheadings';
	font-size: 18px;
	/*	margin: 5px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*	border: 1px solid red;*/
	margin-top: 20px;
	margin-bottom: 20px;

}

@media screen and (max-width: 1000px) {
	.cakeImageContainer {
		width: 80%;

	}

	.whoWeDescription {
		width: 80%;		

	}

	.aboutMainContainer {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.whoWeDescription div {
		width: 60vw !important;		

	}

	.w3-display-container {
		width: 60vw;

	}

}

@media screen and (max-width: 768px) {

	.homeContainer {	
		height: 100vh; 
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;			

	}

	.imageContainer {
		width: 90%;			
		position: absolute;
		top: 37%;
		left: 5%;
		right: 5%;
		font-size: 9vw;		

	}

	.imageContainer div {
		font-size: 3vw;

	}

	.cakeImageContainer {
		width: 95%;

	}

	.whoWeDescription {
		width: 95%;		

	}

	.whoWeDescription div {
		width: 80vw !important;
		height: 340px !important;

	}

	.w3-display-container {
		width: 80vw;
		height: 340px;

	}

	.mySlides {
		height: 320px;

	}

	.leftArrBtn {
		position: absolute;
		left: 10px;	
		top: 260px;	
		cursor: pointer;

	}

	.rightArrBtn {
		position: absolute;
		right: 10px;	
		top: 260px;
		cursor: pointer;

	}

}	

@media screen and (max-width: 420px) {

	.contactMainContainer .contactInnerContainers {
		width: 310px;
	}
	
	.arrowDown {
		display: none;
	}

	.homeContainer {	
		display: none;

	}

	.homeContainerMobile {
		display: block;
		height: 100vh; 
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-image: url(../images/mobilebg.png);		

	}

	.imageContainer {
		width: 90%;			
		position: absolute;
		top: 37%;
		left: 5%;
		right: 5%;
		font-size: 11vw;		

	}

	.imageContainer div {
		font-size: 4vw;

	}
	
	
}



.whoWeDescription div {
	/*	max-width: 90%;*/
	/*	width: 400px;*/
	width: 40vw;
	height: 380px;
	display: flex;
	align-items: center;
	border: 10px solid #fbeada;
	padding: 20px;	

}

.headingWho {
	text-align: center;
	font-size: 40px;
	width: 100%;
	position: absolute;	
	margin-top: -125px;	

}

.headingWho img, .headingWhat img, .headingProducts img, .headingContact img {
	width: 300px;	
	height: 30px;

}

.headingWho h4 {
	font-family: 'mainheadings';
	color: #353a56;

}

/*---------------------------------Our work section starts here------------------------------*/

.ourWorkSection {
	min-height: 100vh;	
	width: 100%;	
	position: relative;
	/*	background-image: url(../images/pinkbg1.png);*/
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 100px;
	/*	margin: 2% 2% 2% 2%;*/

}

.imgYellowBg {
	box-shadow: 0 0 1px 1px #edd79a;
	min-height: 100vh;		
	width: 100%;	

}

.headingWhat h4, .headingProducts h4 {
	font-family: 'mainheadings';
	color: #353a56;

}

.headingWhat, .headingProducts {
	position: absolute;
	top: -25px;
	text-align: center;
	font-size: 40px;
	width: 100%;
}

.mainBgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
	/*	position: absolute;	*/
	/*	margin-top: 25vh;	*/
	width: 100%;
	background-image: url(../images/new1.png);
	background-position: center;
	background-size: 100%;	
	padding-top: 70px;
	padding-bottom: 70px;
	/*	min-height: 600px;*/	

}

.mainCatergories {
	/*	width: 300px;*/
	/*	height: 260px;	*/
	display: flex;
	justify-content: center;
	/*	background-image: url(../images/birthday-ribbon.png);*/
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	/*	border: 1px solid red;*/
	/*
	margin-top: 20px;
	margin-bottom: 20px;
	*/
	position: relative;

}

.w3-display-container1 {
	/*	width: 300px;*/
	/*	height: 260px;*/
	/*	padding: 13px;*/
	background-color: #fbeada;	
	/*	border: 10px solid #edd79a;*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

.cakeDescriptionMain {
	/*	width: 298px;*/
	height: 110px;
	text-align: justify;
	text-justify: inter-word;
	font-family: 'mainheadings';
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #edd79a;
	/*	background-image: url(../images/bg1.png);*/
	color: #353a56;

	/*	margin-top: 20px;*/
	/*	margin-bottom: 20px;*/
}

.cakeDescriptionMain .cakeDescriptionInner {
	/*	width: 300px;*/
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;

	/*	border: 10px solid #edd79a;	*/
	/*	padding: 20px;	*/

}

.cakeDescriptionMain .cakeDescriptionInner div {
	width: 200px;
	height: 30px;

}

.leftArrBtn1 {
	position: absolute;
	left: 10px;	
	top: 21vh;	
	cursor: pointer;
}

.rightArrBtn1 {
	position: absolute;
	right: 10px;	
	top: 21vh;
	cursor: pointer;
}

.leftArrBtn1 img, .rightArrBtn1 img {
	width: 60px;
	height: 50px;
	transition: 0.5s ease-in-out;
}

.leftArrBtn1 img:hover {
	width: 70px;
	transition: 0.5s ease-in-out;
}

.rightArrBtn1 img:hover {
	width: 70px;
	transition: 0.5s ease-in-out;
}

#wedcakeimg, #bircakeimg, #splcakeimg {
	width: 24.5vw;
	min-width: 270px;
	min-height: 270px;
	height: 40vh;
	margin:1.8vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wedcakeimg img, #bircakeimg img, #splcakeimg img {
	width: 24.5vw;
	min-width: 270px;
	min-height: 270px;
	height: 40vh;
	animation-name: bgimageopacity;
	animation-duration: 2s;	
}

.mainInnerContainer {
	margin: 10px;
	border: 10px solid #fff;
	width: 28vw;
	min-width: 310px;

	/*	background-color: #fff;*/
}

.mainOuterContainer h4 {
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: 'maincatergory';
}

/*....................................Media query for iPad................................*/

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	.mainInnerContainer {
		min-width: 600px;
	} 

	#wedcakeimg, #bircakeimg, #splcakeimg {
		min-width: 540px;
		min-height: 540px;
	}

	#wedcakeimg img, #bircakeimg img, #splcakeimg img {
		min-width: 540px;
		min-height: 540px;
	}

	.leftArrBtn1 {			
		top: 25vh;		
	}

	.rightArrBtn1 {			
		top: 25vh;		
	}

}

/*....................................Media query for iPad Pro................................*/

@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
	.mainInnerContainer {
		min-width: 600px;
	} 

	#wedcakeimg, #bircakeimg, #splcakeimg {
		min-width: 540px;
		min-height: 540px;
	}

	#wedcakeimg img, #bircakeimg img, #splcakeimg img {
		min-width: 540px;
		min-height: 540px;
	}

	.leftArrBtn1 {			
		top: 20vh;		
	}

	.rightArrBtn1 {			
		top: 20vh;		
	}

}

/*---------------------------------------------Our product section starts here----------------------------------------------------*/

.ourProductsSection {
	min-height: 100vh;
	position: relative;	
	width: 100%;
	/*	background-image: url(../images/pinkbg1.png);*/
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 100px;

}

.productMainContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
	background-image: url(../images/new.png);
	background-size: 100%;
	background-position: center;
	padding-top: 90px;
	padding-bottom: 90px;

}

.productContainers {
	width: 320px;
	height: 350px;	
	margin: 10px 10px 50px 10px;
	display: flex;
	justify-content: center;
	position: relative;
	/*
	flex-wrap: wrap;
	flex-direction: column;
	*/
	/*	background-color: #edd79a;*/

	background-color: #fff;
}

.productImgContainer {
	width: 80%;
	height: 60%;	
	margin-top: 10%;
	background-color: #fff;
	transition: 0.5s ease-in-out;
}

.productImgContainer img {
	width: 100%;
	height:100%;
}

.productImgContainer:hover {
	width: 90%;
	height:65%; 	
	margin-top: 5%;	
}

.productName {
	top: 75%;
	width: 80%;
	height: 30px;
	position: absolute;
	font-family: 'mainheadings';
	font-size: 18px;
	color: #353a56;
}

.productPrice {
	top: 85%;
	width: 80%;
	height: 30px;
	position: absolute;	
	font-family: 'mainheadings';
	font-size: 18px;
	color: #353a56;
}

.cartContainer {
	position: absolute;
	position: fixed;
	right: 0;
	top: 60px;
	z-index: 1000;
	width: 320px;	
	max-height: 600px;
	/*	border: 1px solid red;*/
	background-color: #fff;
	/*	opacity: 0.9;	*/
/*	display: none;*/

}

.cartContainer div {
	opacity: 1.0;
}

.addToCartBtn {
	height: 40px;
	width: 50%;
	position: absolute;
	top: 84%;
	right: 5%;
	background: url(../images/addtocartnew.jpg) 3px 5px no-repeat;
	background-size: cover;
	background-position: center;
	border-style: none;
	outline: none;
	transition: 0.5s ease-in-out;
}

.addToCartBtn:hover {
	width: 55%;
}

.cartInnerContainer {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: row;
	font-family: 'mainheadings';
	font-size: 18px;
	color: #353a56;
}

.cartImgContainer {
	width: 75px;
}

.cartProductName {
	width: 110px;	
	font-size: 14px;
}

.cartProductPrice {
	width: 30px;
	font-size: 14px;
}

.cartProductId {
	width: 68px;
}

.totalContainer {
	font-family: 'mainheadings';
	font-size: 18px;
	color: #353a56;
	font-weight: bolder;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;

}

.totalContainer span {
	margin-left: 165px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.removeItemBtn {	
	height: 30px;
	width: 30px;	
	background: url(../images/deletebtn1.jpg) 3px 5px no-repeat;
	background-size: cover;
	background-position: center;
	border-style: none;
	outline: none;
	transition: 0.5s ease-in-out;

}

.quantityPlus {
	width: 20px;
	height: 20px;
	margin: 5px;
	background: url(../images/plus.jpg) 3px 5px no-repeat;
	background-size: cover;
	background-position: center;
	border-style: none;
	outline: none;
}

.quantityMinus {
	width: 20px;
	height: 20px;
	margin: 5px;
	background: url(../images/minus.jpg) 3px 5px no-repeat;
	background-size: cover;
	background-position: center;
	border-style: none;
	outline: none;
}

.shopBasketCon button {
	width:55px;
	height: 45px;
	position: absolute;
	top: 5px;
	right: 60px;
	position: fixed;
	background: url(../images/shopbasket.jpg) 3px 5px no-repeat;
	background-size: cover;
	background-position: center;
	border-style: none;
	outline: none;
	cursor: pointer;
}

#quantityDisplay {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 6px;
	right: 100px;
	background-color: #ffda18;
	position: fixed;
	text-align: center;
	color: #0f1430;
	font-weight: bolder;
	font-family: 'mainheadings';
	cursor: pointer;
}

/*---------------------------------------------contact us section starts here----------------------------------------------------*/

.contactUsSection {	
	min-height: 100vh;
	position: relative;	
	width: 100%;	
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(../images/contactbg.jpg);
	background-size: cover;
	background-position: center;
	
}

.headingContact {
	position: absolute;
	top: -25px;
	text-align: center;
	font-size: 40px;
	width: 100%;
	font-family: 'mainheadings';
	color: #353a56;
}

.contactMainContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contactMainContainer .contactInnerContainers {	
	width: 400px;	
	margin: 10px;	
	height: 350px;	
}

.contactInnerContainers h5 {
	font-family: 'maincatergory';
	color: #353a56;
	text-align: center;	
	font-size: 20px;
}

.contactInnerContainers p {
	font-family: 'mainheadings';
	color: #edd79a;
	text-align: center;	
	font-size: 18px;
}

.contactInnerContainers img {
	width: 50px;
	height: 47px;
	cursor: pointer;
	
}

.contactInnerContainers div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.contactInnerContainers input {
	height: 60px;
	width: 300px;
	margin-top: 10px;
	background: url(../images/textbox.jpg);
	background-size: 100% 100%;
	padding: 20px;
	border-style: none;
	outline: none;
	
}

.contactInnerContainers input:last-child {
	height: 100px;
	background-size: 100% 100%;
}

.contactInnerContainers button {
	width: 200px;
	height: 50px;
	outline: none;
	margin-top: 10px;
	border-style: none;	
	background-color: #fff;
	font-family: 'mainheadings';
	font-size: 24px;
	color: #353a56;
	cursor: pointer;
	background: url(../images/textbox.jpg);
	background-size: 100% 100%;
	
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #edd79a;
	font-family: 'mainheadings';
	font-size: 18px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
	font-family: 'mainheadings';
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
	font-family: 'mainheadings';
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
	font-family: 'mainheadings';
}


